body{
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000");
}


div.main{
    border: 1px solid black ;
    height: 150px;
    width :300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
div.top{
    display:flex;
    border: 1px solid rgb(4, 18, 78) ;
    height:100px;
   
    
}
div.bottom{
    border: 1px solid rgb(255, 44, 160) ;
    height:46px;
    text-align: center;
    font-size: 17px; 
    font-weight: bold; 
    color: red;
    background-color: black;
}
    

div.hour{
    border: 1px solid rgb(23, 62, 233) ;
    height:90px;
    width: 75px; 
    text-align: center;
    font-size: 60px; 
    padding-top: 10px;
    font-weight: bold;
    background-color: green;
    color: aliceblue;
}
div.colin{
    border: 1px solid rgb(23, 62, 233) ;
    height:90px;
    width: 75px;  
    text-align: center;
    font-size: 60px; 
    font-weight: bold;
    padding-top: 10px;  
    background-color: green;
    color: rgb(233, 27, 27);
}
div.minutes{
    border: 1px solid rgb(23, 62, 233) ;
    height:90px;
    width: 75px;  
    text-align: center;
    font-size: 60px; 
    font-weight: bold;
    padding-top: 10px;  
    background-color: green;
    color: aliceblue;
}

div.pm{
    border: 1px solid rgb(23, 62, 233) ;
    height:100px;
    width: 75px;  
    
}
div.seconds{
    border: 1px solid rgb(23, 62, 233) ;
    height:50px;
    text-align: center;
    font-weight: bold;
    font-size: 40px; 
    background-color:rgb(23, 62, 233) ;
}
div.ampm{
    border: 1px solid rgb(23, 62, 233) ;
    height:46px; 
    text-align: center;
    font-size: 20px; 
    font-weight: bold; 
    color: red;
    background-color: black;
}